@import '~antd/dist/antd.css';

:root {
    --silver: #C5C5C5;
    --lightGray: #EFEFEF;
    --midnight: #172B4D;
    --brightGray: #ebecf0;
    --borderRadius: 4px;
    --border: 1px solid var(--silver);
    --mainColor: #F9F9F9;
    --iron: #C6C7C7;
}

html {
    --antd-wave-shadow-color: #2e4a62;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: black;
    font-weight: 400;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
}


/* Modal */
.ant-modal-mask {
    background-color: rgb(0 0 0 / 72%);
}

.ant-modal-header {
    background: #2e4a62;
}

.ant-modal-title {
    color: #fff;
}

.anticon-close {
    color: #fff;
}
.ant-modal-body {
    padding: 0 24px 24px;
}
.ant-modal-content {
    background: #f0f4f8;
}